<%- include('partials/header'); -%>
<main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero has-bg-image" id="home" aria-label="home"
        style="background-image: url('/images/hero-bg.svg')">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 section-title">
              Unlock Your Full <span class="span">Potential</span> with Expert Guidance
            </h1>

            <p class="hero-text">
              Are you ready to take your personal and professional growth to the next level? Our mentorship program connects you with experienced mentors who are dedicated to helping you achieve your goals. Whether you're a student, a professional, or someone seeking personal development, we've got you covered.
            </p>

            <a href="#courses" class="btn has-before">
              <span class="span">Find courses</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>

          </div>

          <figure class="hero-banner">

            <div class="img-holder one" style="--width: 270; --height: 300;">
              <img src="/images/hero-banner-1.jpg" width="270" height="300" alt="hero banner" class="img-cover">
            </div>

            <div class="img-holder two" style="--width: 240; --height: 370;">
              <img src="/images/hero-banner-2.jpg" width="240" height="370" alt="hero banner" class="img-cover">
            </div>

            <!-- <img src="/images/hero-shape-1.svg" width="380" height="190" alt="" class="shape hero-shape-1"> -->

            <img src="/images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape-2">

          </figure>

        </div>
      </section>





      <!-- 
        - #CATEGORY
      -->

      <section class="section category" aria-label="category">
        <div class="container">

          <p class="section-subtitle"></p>

          <h2 class="h2 section-title">
            Why <span class="span">Choose </span> Us
          </h2>

          <p class="section-text">
          
          </p>

          <ul class="grid-list">

            <li>
              <div class="category-card" style="--color: 170, 75%, 41%; height: 400px;">

                <div class="card-icon">
                  <img src="/images/category-1.svg" width="40" height="40" loading="lazy"
                    alt="Online Degree Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Personalized Mentor Matching</a>
                </h3>

                <p class="card-text">
                  We carefully match you with a mentor whose experience aligns with your goals and aspirations.
                </p>

                <!-- <span class="card-badge">7 Courses</span> -->

              </div>
            </li>

            <li>
              <div class="category-card" style="--color: 351, 83%, 61%; height: 400px;">

                <div class="card-icon">
                  <img src="/images/category-2.svg" width="40" height="40" loading="lazy"
                    alt="Non-Degree Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Flexible Learning</a>
                </h3>

                <p class="card-text">
                  Our program accommodates your schedule, offering both in-person and virtual mentoring sessions.
                </p>

                <!-- <span class="card-badge">4 Courses</span> -->

              </div>
            </li>

            <li>
              <div class="category-card" style="--color: 229, 75%, 58%; height: 400px;">

                <div class="card-icon">
                  <img src="/images/category-3.svg" width="40" height="40" loading="lazy"
                    alt="Off-Campus Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Diverse Expertise</a>
                </h3>

                <p class="card-text">
                  Our mentors come from various industries and backgrounds, ensuring a well-rounded learning experience.
                </p>

                <!-- <span class="card-badge">8 Courses</span> -->

              </div>
            </li>

            <li>
              <div class="category-card" style="--color: 42, 94%, 55%; height: 400px;">

                <div class="card-icon">
                  <img src="/images/category-4.svg" width="40" height="40" loading="lazy"
                    alt="Hybrid Distance Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Goal-Oriented Approach</a>
                </h3>

                <p class="card-text">
                We focus on setting and achieving actionable goals, making your journey towards success.
                </p>

                <!-- <span class="card-badge">8 Courses</span> -->

              </div>
            </li>

          </ul>

        </div>
      </section>

<!-- our mentorship process -->

      <section class="section category" aria-label="category">
        <div class="container">

          <p class="section-subtitle"></p>

          <h2 class="h2 section-title">
            Our <span class="span">Mentorship </span> Process  
          </h2>

          <p class="section-text">
          
          </p>

          <ul class="grid-list">

            <li>
              <div class="category-card" style="--color: 170, 75%, 41%; height: 350px;">
                <span class="card-badge">Step 1</span>
                <br>
                <h3 class="h3">
                  <p>Application</p>
                </h3>

                <p class="card-text">
                  Tell us about yourself, your objectives, and what you hope to gain from mentorship.
                </p>

                

              </div>
            </li>

            <li>
              <div class="category-card" style="--color: 351, 83%, 61%; height: 350px;">
                  <span class="card-badge">Step 2</span>
                  <br>
                <h3 class="h3">
                  <p>Matching</p>
                </h3>

                <p class="card-text">
                  Based on your profile, we pair you with a mentor who can guide you effectively.                </p>

                

              </div>
            </li>

            <li>
              <div class="category-card" style="--color: 229, 75%, 58%; height: 350px;">
                <span class="card-badge">Step 3</span>
                <br>
                <h3 class="h3">
                  <p>Goal Setting</p>
                </h3>

                <p class="card-text">
                  You and your mentor collaborate to set clear goals and milestones for your mentorship journey.
                </p>

                

              </div>
            </li>

            <li>
              <div class="category-card" style="--color: 42, 94%, 55%; height: 350px;">
                <span class="card-badge">Step 4</span>
                <br>
                <h3 class="h3">
                  <p>Regular Sessions</p>
                </h3>

                <p class="card-text">
                  Engage in regular mentorship sessions to discuss progress, challenges, and strategies.
                </p>


              </div>
            </li>

          </ul>
        </div>
       
      </section>

<!-- application process -->
<div class="course"  style="background-color: white;">
  <h2 class="h2 section-title" >
    Get <span class="span">Started on</span>  Your Journey Today!  
  </h2>
  <p class="hero-text" style=" padding: 30px;margin-left: 30px; font-size: 20px;">
    Ready to embark on a transformative mentorship journey? Join our community of motivated individuals who are committed to growth and success. Apply now to start the process. </p>
  
    <a href="#apply" class="btn has-before" style="margin-bottom: 10px;">
      <span class="span">Apply Now</span>

      <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
    </a>
</div>


      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner">

            <div class="img-holder" style="--width: 520; --height: 370;">
              <img src="/images/about-banner.jpg" width="520" height="370" loading="lazy" alt="about banner"
                class="img-cover">
            </div>
            <img src="/images/about-shape-2.svg" width="371" height="220" loading="lazy" alt=""
              class="shape about-shape-2">

            <img src="/images/about-shape-3.png" width="722" height="528" loading="lazy" alt=""
              class="shape about-shape-3">

          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">
           
              Welcome to <span class="span">Guider-Bhaiya</span>Mentorship! 
            </h2>

            <p class="section-text">
              I'm thrilled that you've taken the first step towards personal and professional growth.
            </p>

            <ul class="about-list">

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Expert Trainers</span>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Online Remote Learning</span>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Lifetime Access</span>
              </li>

            </ul>

            <img src="/images/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""
              class="shape about-shape-4">

          </div>

        </div>
      </section>

      <!-- 
        - #VIDEO
      -->

      <section class="video has-bg-image" aria-label="video"
        style="background-image: url('/images/video-bg.png')">
        <div class="container">

          <div class="video-card">

            <div class="video-banner img-holder has-after poster" style="--width:880 ; --height:560 ;">
              <!-- <iframe width="880" height="560" src="https://www.youtube.com/embed/6-MZggy0f6A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
              <img src="/images/guiderbhaiya.png" class="posterimg"  alt="" >
             
            </div>

            <img src="/images/video-shape-1.png" width="1089" height="605" loading="lazy" alt=""
              class="shape video-shape-1">

            <img src="/images/video-shape-2.png" width="158" height="174" loading="lazy" alt=""
              class="shape video-shape-2">

          </div>

        </div>
      </section>





      <!-- 
        - #STATE
      -->

      <section class="section stats" aria-label="stats">
        <div class="container">

          <ul class="grid-list">

            <li>
              <div class="stats-card" style="--color: 170, 75%, 41%">
                <h3 class="card-title">29.3k</h3>

                <p class="card-text">Student Enrolled</p>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 351, 83%, 61%">
                <h3 class="card-title">32.4K</h3>

                <p class="card-text">Class Completed</p>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 260, 100%, 67%">
                <h3 class="card-title">100%</h3>

                <p class="card-text">Satisfaction Rate</p>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 42, 94%, 55%">
                <h3 class="card-title">354+</h3>

                <p class="card-text">Top Instructors</p>
              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #BLOG
      -->

      <section class="section blog has-bg-image" id="mentor" aria-label="blog"
        style="background-image: url('/images/blog-bg.svg')">
        <div class="container">

      

          <h2 class="h2 section-title">India's Top Guider/Mentor</h2>

          <ul class="grid-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/mentor7.jpeg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">


                  <h3 class="h3">
                    <a href="#blog" class="card-title">NKY Sir</a>
                  </h3>

                

                  <p class="card-text">
                    <ul class="card-meta-list">
                      <li>15 years plus experience</li>
                      <li>Guider for NEET(NEET Expert)</li>
                    </ul>
                  </p>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/mentor8.jpeg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">


                  <h3 class="h3">
                    <a href="#blog" class="card-title">Kailash Sharma Sir(iit patna)</a>
                  </h3>

                

                  <p class="card-text">
                    <ul class="card-meta-list">
                      <li>6 years plus experience</li>
                      <li>Guider for Jee</li>
                    </ul>
                  </p>

                </div>

              </div>
            </li>
            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/mentor9.jpeg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">


                  <h3 class="h3">
                    <a href="#blog" class="card-title">Vinod Kumar singh Sir</a>
                  </h3>

                

                  <p class="card-text">
                    <ul class="card-meta-list">
                      <li>6 years experience</li>
                      <li>Guider for NEET,UPSC,&FOUNDATION</li>
                    </ul>
                  </p>

                </div>

              </div>
            </li>


            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/mentor1.jpeg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">

                 

                

                  <h3 class="h3">
                    <a href="#blog" class="card-title">Razi Akhtar Sir</a>
                  </h3>

                

                  <p class="card-text">
                    <ul class="card-meta-list">
                      <li>8 years experience</li>
                      <li>Guider for JEE/NEET</li>
                    </ul>
                  </p>

                </div>

              </div>
            </li>

              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/mentor4.jpeg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">

               

                  <h3 class="h3">
                    <a href="#blog" class="card-title">Ravindra Kumar Sir</a>
                  </h3>

                 

                  <p class="card-text">
                    <ul class="card-meta-list">
                      <li>12 years experience</li>
                      <li>Guider for JEE/NEET</li>
                    </ul>
                  </p>

                </div>

              </div>
            </li>
            
            <div class="blog-card">

              <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                <img src="/images/mentor6.jpeg" width="370" height="370" loading="lazy"
                  alt="Become A Better Blogger: Content Planning" class="img-cover">
              </figure>

              <div class="card-content">

             

                <h3 class="h3">
                  <a href="#blog" class="card-title">Dr.fazeel Mohsin Sir</a>
                </h3>

               

                <p class="card-text">
                  <ul class="card-meta-list"style="height: 66px;">
                    <li>Delhi AIIMS</li>
                    <li>Guider for JEE/NEET</li>
                  </ul>
                </p>

              </div>

            </div>
          </li>
                        <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/mentor5.jpeg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">

               

                  <h3 class="h3">
                    <a href="#blog" class="card-title">Kashif Reza Sir</a>
                  </h3>

                 

                  <p class="card-text">
                    <ul class="card-meta-list" style="height: 65px;">
                      <li>Patna AIIMS</li>
                      <li>Guider for JEE/NEET</li>
                    </ul>
                  </p>

                </div>

              </div>
            </li>
             
            
            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/mentor2.jpeg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">

               

                  <h3 class="h3">
                    <a href="#blog" class="card-title">MD Wasi Sir</a>
                  </h3>

                 

                  <p class="card-text">
                    <ul class="card-meta-list">
                      <li>4 years experience</li>
                      <li>Guider for foundation(6-10)</li>
                    </ul>
                  </p>

                </div>

              </div>
            </li>
            
            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="/images/mentor10.jpeg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">

               

                  <h3 class="h3">
                    <a href="#blog" class="card-title">Ranjan Kumar Sir</a>
                  </h3>

                 

                  <p class="card-text">
                    <ul class="card-meta-list">
                      <li>4 years plus experience</li>
                      <li>Guider for foundation(6-10)</li>
                    </ul>
                  </p>

                </div>

              </div>
            </li>


          </ul>

          <img src="/images/blog-shape.png" width="186" height="186" loading="lazy" alt=""
            class="shape blog-shape">

        </div>
      </section>
<!-- registration form -->
      <section class="section registration apply" id="apply" style=" min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center">
        <div class="containerform">
            <header>Registration For Mentoring</header>
        <form action="/registration" method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" name="name" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" name="number" placeholder="Enter mobile number" required>
                        </div>
                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Occupation</label>
                            <input type="text" name="occupation" placeholder="Enter your ccupation" required>
                        </div>
                    </div>
                </div>
                
                    <button class="nextBtn">
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>
          
                
               
        </form>
    </section>
    </article> 
  </main>
  <%- include('partials/footer'); -%>